# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
.mypy_cache/
.pytest_cache/
.hypothesis/

# Virtual environment
.env/            # THIS is your virtual environment folder

# Logs and coverage
*.log
coverage.xml
*.cover
.tox/
nosetests.xml
htmlcov/

# Django / SQLite local files
*.db
*.sqlite3
db.sqlite3
media/

# Node
node_modules/

# Git
.git/
.gitignore

# Misc
pip-log.txt
*.md
!README.md